<div class="remove-container container-block">
  <h2 class="container-block-title">
    About Theme
  </h2>
  <ul class="list-unstyled interests-list">
    <li>
      <a target="_blank" href="https://www.google.com/search?q=medium+talex+maxim&oq=medium+talex+maxim&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQRRg8MgYIAhBFGDwyBggDEEUYPNIBCDQ0OTlqMGoxqAIAsAIB&sourceid=chrome&ie=UTF-8" class="btn btn-primary">Publications</a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/talex-maxim-87abbb60" class="btn btn-primary">LinkedIn</a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/taimax13" class="btn btn-primary">GitHub</a>
    </li>
    <li>
      <a target="_blank" href="https://medium.com/@taimax13" class="btn btn-primary">Medium</a>
    </li>
  </ul>
</div><!--//About-->
