<div class="remove-container container-block">
  <h2 class="container-block-title">
    How else you can find me
  </h2>
  <ul class="list-unstyled interests-list">
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/your-linkedin-username" class="btn btn-outline-primary btn-icon">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/your-github-username" class="btn btn-outline-dark btn-icon">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://medium.com/@your-medium-username" class="btn btn-outline-secondary btn-icon">
        <i class="fab fa-medium"></i>
      </a>
    </li>
  </ul>
</div><!--//About-->
