/* Unicorn variables */
$theme-color: #FFB6C1; /* Light Pink */
$text-color: #9370DB; /* Medium Purple */
$text-color-secondary: #4B4B4B; /* Intense Grey */
$text-grey: #D3D3D3; /* Light Grey */
$divider: #FFD700; /* Gold */
$lighter-grey: #E0FFFF; /* Light Cyan */
$darker-grey: #BA55D3; /* Medium Orchid */
$smoky-white: #FFF5EE; /* Seashell (a very light pinkish-white) */
$heart: #FF69B4; /* Hot Pink */
