/* Unicorn variables */
$theme-color: #FFB6C1; /* Light Pink */
$text-color: #9370DB; /* Medium Purple */
$text-color-secondary: #7B68EE; /* Medium Slate Blue */
$text-grey: #ADD8E6; /* Light Blue */
$divider: #FFD700; /* Gold */
$lighter-grey: #E0FFFF; /* Light Cyan */
$darker-grey: #BA55D3; /* Medium Orchid */
$smoky-white: #FFF5EE; /* Seashell (a very light pinkish-white) */
$heart: #FF69B4; /* Hot Pink */
